body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.myFormControl {
  margin-left: 20px;

}

Button {
  margin-right: 20px;
}

.glyphicon {
    color: mediumslateblue;
}

section {
    margin-bottom: 40px;
}

textarea {
    resize: none;
}

.form-control {
    margin-bottom: 15px;
}

/*
Hint to the user that the table
row are active for selection
 */
tr {
    cursor: pointer;
}

/*
A little space between table headings
and the sort direction icons
 */
.my-glyph-pad {
    padding-left: 5px;
}

.vote-score-glyph-left {
    padding-right: 5px;
}
.vote-score-glyph-right {
    padding-left: 5px;
}

/*
Disable (accidental) selection of
text on the tables since it looks untidy
*/
Table {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.category-heading {
    margin-right: 10px;
}

.heading-button {
    margin-left: 10px;
}

.toast {
    position: fixed;
    bottom: 50%;
    right: auto;
    width: 90%;
    z-index: 1;
}