
.myFormControl {
  margin-left: 20px;

}

Button {
  margin-right: 20px;
}

.glyphicon {
    color: mediumslateblue;
}

section {
    margin-bottom: 40px;
}

textarea {
    resize: none;
}

.form-control {
    margin-bottom: 15px;
}

/*
Hint to the user that the table
row are active for selection
 */
tr {
    cursor: pointer;
}

/*
A little space between table headings
and the sort direction icons
 */
.my-glyph-pad {
    padding-left: 5px;
}

/*
Disable (accidental) selection of
text on the tables since it looks untidy
*/
Table {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}